@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Work+Sans&display=swap');
:root {
  --prussian-blue: #003049;
  --maximum-red: #d62828;
  --orange: #f77f00;
  --maximum-yellow-red: #fcbf49;
  --lemon-meringue: #eae2b7;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.heading-font {
  font-family: 'Cormorant Garamond', serif;
}

.text-font {
  font-family: 'Work Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
